*{
    padding: 0;
    margin: 0;
}

button{
    background-color: #171717;
    border: none;
}

#icon1{
    transition: 1s;
    height: 3vw;
    width: 3vw;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


#icon1:hover{
    transition: 0.5s;
    animation: normal;
    background-color: #ffc764;
}

#icon2{
    transition: 1s;
    height: 3vw;
    width: 3vw;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


#icon2:hover{
    transition: 0.5s;
    animation: normal;
    background-color: #ffc764;
}

#icon3{
    transition: 1s;
    height: 3vw;
    width: 3vw;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


#icon3:hover{
    transition: 0.5s;
    animation: normal;
    background-color: #ffc764;
}

#icon4{
    transition: 1s;
    height: 3vw;
    width: 3vw;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


#icon4:hover{
    transition: 0.5s;
    animation: normal;
    background-color: #ffc764;
}

.iconsNosotros{
    transition: 0.5s;
    fill: #ffc764;
}

.iconsNosotros:hover{
    transition: 0.5s;
    fill: #171717;
}


nav{
    z-index: 3;
    margin-top: 0;
    position: fixed;
    background-color: #171717;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #ffc764;
}

.img_menu{
    height: 5vw;
    width: 35vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img_menu img{
    height: 3vw;
    width: 3vw;

}

.menu{
    height: 5vw;    
    width: 35vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

ul{
    width: 60%;
    display: flex;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}

.menu ul LI{
    display: flex;
    align-items: center ;
    font-family: 'Montserrat', sans-serif;
    color: #ffc764;
    font-size: x-small;
}
