.cont_tyc{
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    margin-top: 10vh;
    position: absolute;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tyc{
    height: auto;
    width: 70vw;
}